
.nav-item:hover{
    background-color:#31673f40;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url("./images/home-banner.jpg");
    background-size: cover;
}

.heading-text{
    background-color: #00000069;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h2::before, h2::after{
    content:"↟↟";
    font-size: 35px;
    padding: 10px;
}

.card:hover{
    opacity: 0.5;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    p{
        font-size: small;
    }
}

.about-section{
    background-color: #30474040;
}

p{
    font-size: 1.5rem;
}

.img-fluid{
    max-width: 500px;
} 

.modal-body{
    background-color: #30474040;
}

