
.nav-item:hover{
    background-color:#31673f40;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url("./images/home-banner.jpg");
    background-size: cover;
}

.heading-text{
    background-color: #00000069;
}

h2::before, h2::after{
    content:"↟↟";
    font-size: 35px;
    padding: 10px;
}

