.nav-item:hover, .background{
    background-color:#31673f40;
}

.header {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.home{
    background-image: url("./images/home-banner.jpg");
}

.about{
    background-image: url("./images/about-us-banner.JPG");
}

.contact{
    background-image: url("./images/contact-banner.jpg");
}

.heading-text{
    background-color: #00000069;
}

h1{
    font-size: 3rem;
    font-family: "Rubik Dirt";
}

h2{
    font-size: 2rem;
}

h2::before, h2::after{
    content:"↟↟";
    font-size: 35px;
    padding: 10px;
}

.card:hover{
    opacity: 0.5;
}

@media (max-width: 768px) {
    .column-items {
        flex-direction: column;
        align-items: center;
    }
    p{
        font-size: small;
    }
}

p{
    font-size: 1.5rem;
}

.img-fluid{
    max-width: 500px;
} 

input[type=text]:focus {
  background-color:#31673f40;
}

.btn:hover{
    background-color: #304740;
    color:white;
}



